<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>59223362637-c2tab9vcdlde5scpnefontbsmf0v0gph.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.59223362637-c2tab9vcdlde5scpnefontbsmf0v0gph</string>
	<key>API_KEY</key>
	<string>AIzaSyC5NytFvuh9yi2FZRXrdgDh6-2GsyGoTOI</string>
	<key>GCM_SENDER_ID</key>
	<string>59223362637</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>GB.MinionTeam</string>
	<key>PROJECT_ID</key>
	<string>minionly-554bf</string>
	<key>STORAGE_BUCKET</key>
	<string>minionly-554bf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:59223362637:ios:a67fb8f1127647a5bf2004</string>
</dict>
</plist>